#spinner {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border:16px solid rgba(255, 255, 255, .4);
    border-top:16px solid rgba(255, 255, 255, .2);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }